@import '../../../styles/utils';

.button {
    display: inline-flex;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;

    &.default {
        background: $oc-blue-6;

        &:hover {
            background-color: $oc-blue-5;
        }

        &:active {
            background-color: $oc-blue-6;
        }
    }

    &.gray {
        background: $oc-gray-7;

        &:hover {
            background-color: $oc-gray-6;
        }

        &:active {
            background-color: $oc-gray-7;
        }
    }

    &.outline {
        border: 2px solid #FFFFFF;
        border-radius: 2px;

        &:hover {
            background: #FFFFFF;
            background-color: $oc-blue-5;
        }

        &:active {
            background: rgba($color: #FFFFFF, $alpha: 0.85);
            border: 2px solid rgba($color: #FFFFFF, $alpha: 0.85);
        }
    }

    &:hover {
        @include material-shadow(2, 0.5);
    }

    &.disabled {
        background-color: $oc-gray-4;
        color: $oc-blue-6;
        cursor: default;

        &:hover, &:active {
            box-shadow: none;
            background: $oc-gray-4;
        }
    }

    & + & {
        margin-left: 0.5rem;
    }
}