@import '../../../styles/utils';

.footer {
    background-color: $oc-gray-7;
    height: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .brand {
        color: #FFFFFF;
        font-size: 2rem;
        font-weight: 600;
    }

    .admin-login {
        margin-top: 0.5rem;
        font-weight: 600;
        font-size: 1rem;
        color: rgba($color: #FFFFFF, $alpha: 0.8);
        cursor: pointer;

        &:hover {
            color: #FFFFFF;;
        }
    }
}